USE [master]
GO
/****** Object:  Database [LaMichoacana]    Script Date: 21/10/2025 07:39:07 a. m. ******/
-- Crear base de datos con rutas CORREGIDAS
/* 
CREATE DATABASE [LaMichoacana]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LaMichoacana', FILENAME = N'X:\Propiedades SQL Server 2\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LaMichoacana.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LaMichoacana_log', FILENAME = N'X:\Propiedades SQL Server 2\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LaMichoacana_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
*/

CREATE DATABASE [LaMichoacana]
CONTAINMENT = NONE
ON PRIMARY 
( 
    NAME = N'LaMichoacana', 
    FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LaMichoacana.mdf', 
    SIZE = 8192KB, 
    MAXSIZE = UNLIMITED, 
    FILEGROWTH = 65536KB 
)
LOG ON 
( 
    NAME = N'LaMichoacana_log', 
    FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LaMichoacana_log.ldf', 
    SIZE = 8192KB, 
    MAXSIZE = 2048GB, 
    FILEGROWTH = 65536KB 
)
WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF;
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LaMichoacana].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LaMichoacana]
GO
/****** Object:  Table [dbo].[DetalleVenta]    Script Date: 21/10/2025 07:39:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVenta](
	[id_venta] [int] NOT NULL,
	[id_producto] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio_unitario] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_venta] ASC,
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 21/10/2025 07:39:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[id_producto] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[categoria] [varchar](100) NOT NULL,
	[precio] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 21/10/2025 07:39:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[id_venta] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NOT NULL,
	[total] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DetalleVenta] ([id_venta], [id_producto], [cantidad], [precio_unitario]) VALUES (1, 6, 3, 30)
INSERT [dbo].[DetalleVenta] ([id_venta], [id_producto], [cantidad], [precio_unitario]) VALUES (1, 16, 2, 25)
INSERT [dbo].[DetalleVenta] ([id_venta], [id_producto], [cantidad], [precio_unitario]) VALUES (2, 10, 5, 30)
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([id_producto], [nombre], [categoria], [precio]) VALUES (1, N'Paleta de Limón', N'Paleta Base Agua', 12)
INSERT [dbo].[Productos] ([id_producto], [nombre], [categoria], [precio]) VALUES (2, N'Paleta de Sandía', N'Paleta Base Agua', 12)
INSERT [dbo].[Productos] ([id_producto], [nombre], [categoria], [precio]) VALUES (3, N'Paleta de Mango con Chamoy', N'Paleta Base Agua', 18)
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
SET IDENTITY_INSERT [dbo].[Ventas] ON 

INSERT [dbo].[Ventas] ([id_venta], [fecha], [total]) VALUES (1, CAST(N'2025-10-13' AS Date), 140)
INSERT [dbo].[Ventas] ([id_venta], [fecha], [total]) VALUES (2, CAST(N'2025-10-13' AS Date), 172)
INSERT [dbo].[Ventas] ([id_venta], [fecha], [total]) VALUES (3, CAST(N'2025-10-13' AS Date), 382)
SET IDENTITY_INSERT [dbo].[Ventas] OFF
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD FOREIGN KEY([id_producto])
REFERENCES [dbo].[Productos] ([id_producto])
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD FOREIGN KEY([id_venta])
REFERENCES [dbo].[Ventas] ([id_venta])
GO
/****** Object:  StoredProcedure [dbo].[Reporte1]    Script Date: 21/10/2025 07:39:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Reporte1]
AS
SELECT * FROM Productos
ORDER BY nombre;
GO
/****** Object:  StoredProcedure [dbo].[Reporte2]    Script Date: 21/10/2025 07:39:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Reporte2]
(@FI DATE, @FF DATE)
AS
SELECT * FROM Ventas 
WHERE fecha BETWEEN @FI AND @FF 
ORDER BY id_venta;
GO
/****** Object:  StoredProcedure [dbo].[Reporte3]    Script Date: 21/10/2025 07:39:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- PRODUCTOS MAS VENDIDOS
CREATE PROCEDURE [dbo].[Reporte3]
    (@FI DATE, @FF DATE)
AS
    SELECT 
        P.id_producto AS [ID_Producto], 
        P.nombre AS Producto, 
        P.categoria AS Categoria, 
        SUM(D.cantidad) AS Vendidos, 
        D.precio_unitario AS [Precio_Unitario], 
        SUM(D.Cantidad * D.precio_unitario) AS Ventas 
    FROM Ventas AS V 
    INNER JOIN DetalleVenta AS D ON D.id_venta = V.id_venta 
    INNER JOIN Productos AS P ON P.id_producto = D.id_producto 
    WHERE V.fecha BETWEEN @FI AND @FF  
    GROUP BY P.id_producto, P.nombre, P.categoria, D.precio_unitario
    ORDER BY Ventas DESC;
GO
USE [master]
GO
